                        /*header */
body>header>nav{
    display: flex;
    gap: 45px;
    position: absolute;
    top: 25px;
    color: #d9d9d7;
    left: 70%;
    font-size: 20px;
    font-family: Abel;

}

header>nav>li::marker{     /*remove indexing in menu*/
    content: "";
}

header>div:nth-child(1){
    background: url("../img/logo.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
}
                        /*main page*/

main>section:nth-child(1)>div{
    height: 99.5vh;
    width: 99.5vw;
    background: url("../img/mainCover.jpg");
    background-position: center;
    background-size: cover;
}

main>section:nth-child(1)>aside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    bottom: 458px;

}

main>section:nth-child(1)>aside>h1{
    font-size: 70px;
    font-family: Bebas Neue;
    letter-spacing: 5px;
}

main>section:nth-child(1)>aside>h6{
    font-size: 15px;
    font-family: Abel;
    letter-spacing: 15px;
    position: relative;
    bottom: 30px;
}


