
body{
    background: #1c1c1c;
}

                        /*header */
body>header>nav{
    display: flex;
    gap: 45px;
    position: absolute;
    top: 25px;
    color: #d9d9d7;
    left: 70%;
    font-size: 20px;
    font-family: Abel;

}

header>nav>li::marker{     /*remove indexing in menu*/
    content: "";
}

header>div:nth-child(1){
    background: url("../img/logo.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
}
                        /*main page*/


main>section:nth-child(1)>div{
    height: 99.5vh;
    width: 99.5vw;
    background: url("../img/girl.jpg");
    background-position: center;
    background-size: cover;
}

main>section:nth-child(1)>aside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    bottom: 480px;

}

main>section:nth-child(1)>aside>h1{
    font-size: 70px;
    font-family: Bebas Neue;
    letter-spacing: 5px;
}

main>section:nth-child(1)>aside>h6{
    font-size: 15px;
    font-family: Abel;
    letter-spacing: 15px;
    position: relative;
    bottom: 30px;
}


      /*provinces srilanka*/


main>section:nth-child(2){
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 120px;

}

main>section:nth-child(2)>h1 {
    color: white;
    font-family: Bebas Neue;
    letter-spacing: 3px;
    font-size: 40px;
}

main>section:nth-child(2)>aside{
    width: 97vw;
    height: 97vh;
    position: relative;
}

main>section:nth-child(2)>aside>div{
    position: relative;
    width: 95vw;
    height: 95vh;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-content: center;
    gap: 15px;
    overflow: hidden;
    overflow-x: scroll;

}

main>section:nth-child(2)>aside>div>section{
    width: 95vw;
    height: 95vh;
    flex-shrink: 0;
}

main>section:nth-child(2)>div {   /*aside set*/
    display: flex;
    position: absolute;
    width: 48vw;
    height: 300px;
    z-index: 1;
    right: 40px;
    bottom: 30px;
    align-content: center;
    gap: 15px;
    overflow: hidden;
    overflow-x: scroll;
}

main>section:nth-child(2)>div>aside {  /*small sqa*/
    position: relative;
    width: 210px;
    height: 275px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

}

                /*small sqa*/

main>section:nth-child(2)>div>aside:nth-child(1){
    background: url("../img/b3.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>aside:nth-child(2){
    background: url("../img/nelumKuluna.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>aside:nth-child(3){
    background: url("../img/hikkaduwa.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>div>aside:nth-child(4){
    background: url("../img/mirissa.jpg");
    background-size: cover;
    background-position: center;
}



                /*big sqa*/

main>section:nth-child(2)>aside>div>section:nth-child(1){
    background: url("../img/mathara.jpg");
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2)>aside>div>section:nth-child(2){
    background: url("../img/elep2.jpg");
    background-size: cover;
    background-position: center;
}
